#container {
    margin-top: 300px;
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
}  


.cardText {
    text-align: center;
    height: 300px;
    width: 300px;

}

.nagl {
    text-align: center;
    margin: 10px;
}

.cards {
     display: flex;
     height: 300px;
     width: 550px;
     flex-direction: column;
     align-items: center;
}


.cardIconBackground {
    max-width: 150px;
    max-height: 150px;
    padding: 30px;
    background-color: #04bbe9;
    border-radius: 50%;
}

.cardIcon {
max-width: 100px;
}

.zoom {
    transition: transform .2s;
}

.zoom :hover {
    transform: scale(1.3);
}
